h1 {
  color: var(--main-bg-color);
  flex: 1;
  text-shadow: 2px 0 2px #fff, 2px 0 2px #fff;
  letter-spacing: 3px;
}

#title {
  display: flex;
  padding-left: 20px;
}

#logRegBtnDiv {
  flex: 0.4;
  display: flex;
}

#iconButton {
  display: flex;
  gap: 30px;
  margin: auto;
  width: 50px;
  color: red;
  background-color: transparent;
}

#iconButton:hover {
  color: var(--hover-bg-color);
}
