:root {
  --main-bg-color: red;
  --hover-bg-color: rgb(126, 2, 2);
}

button {
  height: 40px;
  width: 100px;
  color: white;
  background-color: var(--main-bg-color);
  border: transparent;
  border-radius: 10px;
  gap: 10;
}

button:hover {
  background-color: var(--hover-bg-color);
  font-weight: bold;
}

i {
  font-size: 30px;
  color: var(--main-bg-color);
}
