:root {
  /* GREEN THEME */
  --main-bg-color: green;
  --hover-bg-color: rgb(26, 75, 0);
  --menu-box-shadow-color: rgba(4, 255, 0, 0.3);
  --menu-box-shadow-color-hover: rgba(6, 85, 1, 0.4);

  /* RED THEME */
  /* --main-bg-color: red;
  --hover-bg-color: rgb(126, 2, 2);
  --menu-box-shadow-color: rgba(255, 0, 0, 0.3);
  --menu-box-shadow-color-hover: rgba(255, 0, 0, 0.4); */
}

#root {
  min-height: calc(100vh - 20px);
}

#rootLayout {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

button {
  height: 40px;
  width: 100px;
  color: white;
  background-color: var(--main-bg-color);
  border: transparent;
  border-radius: 10px;
}

button:hover {
  background-color: var(--hover-bg-color);
  font-weight: bold;
}

i {
  font-size: 30px;
  color: var(--main-bg-color);
}

/* i:hover {
  transform: translateY(-10px);
  transition: transform 0.2s;
  box-shadow: 0 2px 30px rgba(255, 0, 0, 0.4);
} */

.i-btn:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
