.LoginComponentDiv {
  height: 520px;
  width: 400px;
  color: white;
  margin: auto;
  padding: 20px;
  background: rgba(17, 18, 17, 0.7);
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.loginInput {
  height: 30px;
  width: 350px;
  margin-bottom: 20px;
  border-radius: 2px;
  border-color: transparent;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

.formHeading {
  color: white;
}

.formLoginBtn {
  width: 355px;
  margin-top: 10px;
}

.resgiterSectionDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.registrationLink {
  color: var(--main-bg-color);
  padding-left: 10px;
}
